<html>
    <div class="card">
        <div class="card-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Proiezioni</h1>
                    <p class="lead">Le proiezioni di questa settimana</p>
                    <img id="logo" src="assets/2d.png" alt="Film Image"> 
                    La proiezione sarà in <b>modalità 2D</b> (tradizionale) <br>
                    <img id="logo" src="assets/3d.jpg" alt="Film Image">
                    La proiezione sarà in <b>modalità 3D</b> (gli occhiali per la visualizzazione
                    saranno forniti da noi) <br>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="proiezioni.length > 0; else elseBlock">
        <ul class="list-unstyled" >   
            <li class="media" *ngFor="let proiezione of proiezioni">
                <img class="mr-3" id="img" src="{{proiezione.imgspettacolo}}" alt="Film Image">
                <div class="media-body">
                    <p> <b>giorno:</b> {{proiezione.giorno}}</p>
                    <p> <b>ora:</b> {{proiezione.orario}}</p>
                    <p> <b>sala:</b> {{proiezione.sala.replace('_',' ')}}</p>
                    <button type="button" class="btn btn-lg btn-outline-primary" (click)="Verifica(proiezione)">Verifica posto</button>
                </div>
            </li>
        </ul>
    </div>
    <ng-template #elseBlock> <p><b>Attualmente</b> non sono ancora disponibili le proiezioni per questo film. <b>Pagina in aggiornamento</b></p></ng-template>
</html>
