#img{
    max-height: 100px;
    max-width: 100px;
}

.card-img-top{
    max-height: 330px;
    max-width: 1230px;
}

#logo{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
}

.media{
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-unstyled{
    margin-left: 30px;
}

