<html>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Area utente</h1>
            <p class="lead">Questo spazio è riservato all'utente per il login e la registrazione. 
                Se sei un nuovo utente, inserisci email e password ed effettua la registrazione in pochi secondi.
                Se sei già nostro utente e desideri fare il login, inserisci le credenziali ed effettua il login.
                Ricorda che, nel tuo profilo, trovi i biglietti che hai prenotato, puoi modificare i dati personali e 
                aggiungere carte di credito per il pagamento on-line.
            </p>
        </div>
    </div>
    <br>
    <div>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="authForm" (ngSubmit)= "signIn(content)">
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                        <input type="email" placeholder="Email" formControlName="email">
                    </p>
                    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                        <div *ngIf="formControls.email.errors.required">Email is required</div>
                    </div>
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                        <input type="password" placeholder="Password" formControlName="password">
                    </p>
                    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                        <div *ngIf="formControls.password.errors.required">Password is required</div>
                    </div>
                    <p>
                        <button type="button" class="btn btn-outline-primary" (click)="signIn(content)">REGISTRAZIONE</button> &nbsp; &nbsp; 
                        <button type="button" class="btn btn-outline-primary" (click)="signUp()">LOGIN</button>      
                    </p>
                </form>

                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">AppCinema.it</h4>
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="control1 == false; else elseBlock"> Registrazione avvenuta con successo! <br> Puoi eseguire il primo login per configurare il profilo!</div>
                        <ng-template #elseBlock>
                            <strong>Attenzione!</strong> L'email esiste già! Scegli un altro indirizzo per il tuo account!
                        </ng-template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok</button>
                    </div>
                </ng-template>

                <div *ngIf="control === false; else elseBlock1"></div>
                <ng-template #elseBlock1>
                    <ngb-alert>
                        <strong>Attenzione!</strong> Le credenziali non sono valide! Il login non è stato effettuato!
                    </ngb-alert>
                </ng-template>


            </div>
        </div>
    </div>
</html>