<html>
    <body>
        <div class="card" >
            <img class="card-img-top" src="assets/film.jpg" alt="Card image cap">
        </div>
        <ul class="list-unstyled" >
            <li class="media" *ngFor="let film of films">
                <img class="mr-3" id="img" src="{{film.imagepath}}" alt="Film Image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">TITOLO: {{film.titolo}}</h5>
                    <p> TRAMA: {{film.trama}}</p>
                    <button type="button" class="btn btn-primary" (click)="getDetails(film.titolo)">Dettagli</button> &nbsp; &nbsp; 
                    <button type="button" class="btn btn-primary" [routerLink]="['/spettacoli/', film.titolo]">Verifica spettacoli</button>
                </div>
            </li>
        </ul>
    </body>
</html>
