<html>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Film in programmazione</h1>
                <p class="lead">I film in programmazione questa settimana</p>
            </div>
        </div>
        <ul class="list-unstyled" >
            <li class="media" *ngFor="let film of films">
                <img class="mr-3" id="img" src="{{film.imagepath}}" alt="Film Image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">TITOLO: {{film.titolo}}</h5>
                    <p> TRAMA: {{film.trama}}</p>
                    <button type="button" class="btn btn-primary" (click)="getDetails(film.titolo)">Dettagli</button> &nbsp; &nbsp; 
                    <button type="button" class="btn btn-primary" [routerLink]="['/spettacoli/', film.titolo]">Verifica spettacoli</button>
                </div>
            </li> 
        </ul>
    </body>
</html>


