<html>
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Ricerca</h1>
                <p class="lead">Area per ricercare il film preferito</p>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <p>Inserisci il parametro di ricerca </p> 
                <div class="input-group input-group-sm mb-3">
                    <input type="text"  [(ngModel)]="parametro"/>
                    <div class="row">
                        <div class="col">
                            <div ngbDropdown class="d-inline-block"> &nbsp; &nbsp;
                                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ricerca per</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="CambiaParametro('titolo')">titolo</button>
                                    <button ngbDropdownItem (click)="CambiaParametro('genere')">genere</button>
                                    <button ngbDropdownItem (click)="CambiaParametro('attore')">attore</button>
                                </div>
                            </div>
                        </div> 
                                    <p>Stai cercando per: <br> <b>{{value}}</b></p> &nbsp; &nbsp; &nbsp; &nbsp;
                        <div class="input-group-prepend"> 
                            <button type="button" class="btn btn-outline-primary" (click)="searchFilm(parametro)">Cerca</button> 
                        </div> 
                    </div>
                </div> 
                <div *ngIf="films?.length > 0; else elseBlock">
                    <ul class="list-unstyled" >
                        <li class="media" *ngFor="let film of films">
                            <img class="mr-3" src="{{film.imagepath}}" id="img" alt="Film Image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">TITOLO: {{film.titolo}}</h5>
                                <p> GENERI: {{film.a_generi}}</p>
                                <button type="button" class="btn btn-primary" (click)="getDetails(film.titolo)">Dettagli</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <ng-template #elseBlock>

                </ng-template>
            </div>
        </div>
    </div>
</html>
