<html>
    <div class="card" >
        <img class="card-img-top" src="assets/biglietti.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><h5 class="card-title">Riepilogo biglietto</h5>
            <p class="card-text">Qui è descritto i biglietti aqcuistati dall'utente:</p>
            <li class="media" *ngFor="let posto of posti">  
                <br>
                <p> Numero fila: {{posto.fila}} </p> &nbsp; &nbsp;
                <p> Numero posto : {{posto.numero}}</p>
            </li>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="gotoAcquisto()">Procedi all'acquisto</button>
</html>