.card-body{
    min-height: 200 px;
    min-width: 200 px;
    background-color: whitesmoke;
    text-align: left;
}
.card-img-top{
    width: 700px;
    height: 300px;
}

#ticket{
    float: left;
    margin-right: 20px;
}