<html>
    <!--PANNELLO AMMINISTRATORE-->
    <!---INSERIRE I SPETTACOLI-->
    <!---INSERIRE I FILM-->
    <!--INSERIRE I SCONTI-->
    <!--GESTIRE GLI UTENTI-->
    <!--RIMUOVERE FILM E SPETTACOLI-->
    <!--AMMINISTRARE IL DATABASE CON I DATI-->

    <div class="card">
        <h5>PANNELLO AMMINISTRATORE</h5>
        <div class="card-body">
            INSERISCI UN NUOVO FILM  
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Aggiungi film</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="dateOfBirth">Date of birth</label>
                            <div class="input-group">
                                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                       <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>

            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Aggiungi film</button> <br> <br>
            
            INSERISCI UN NUOVO SPETTACOLO
            <ng-template #content1 let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Aggiungi spettacolo</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="dateOfBirth">Date of birth</label>
                            <div class="input-group">
                                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                       <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>

            <button class="btn btn-lg btn-outline-primary" (click)="open1(content1)">Aggiungi spettacolo</button>
        </div>
    </div>
    
    <!--INSERIRE I SCONTI-->
    

</html>
