<html>
    <!--PANNELLO AMMINISTRATORE-->
    <!---INSERIRE I SPETTACOLI-->
    <!---INSERIRE I FILM-->
    <!--INSERIRE I SCONTI-->
    <!--GESTIRE GLI UTENTI-->
    <!--RIMUOVERE FILM E SPETTACOLI-->
    <!--AMMINISTRARE IL DATABASE CON I DATI-->


        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Area amministratore</h1>
                <p class="lead">Aggiungere testo</p>
            </div>
        </div>
        <div>
            <h2>INSERISCI UN NUOVO FILM</h2>

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-basic-title">Aggiungi film</h2>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.titolo" name="titolo" placeholder="titolo">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.regista" name="regista" placeholder="regista">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.anno" name="anno" placeholder="anno">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.durata" name="durata" placeholder="durata">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.a_generi" name="generi" placeholder="generi">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.a_cast" name="cast" placeholder="cast">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.casaproduzione" name="casaprod" placeholder="casa di produzione">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.trama" name="trama" placeholder="trama">
                            <input type="text" class="form-control" id="filminput" [(ngModel)]="nuovofilm.imagepath" name="imgpath" placeholder="img path">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click',nuovofilm)">Aggiungi</button>
                </div>
            </ng-template>
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Aggiungi film</button> <br> <br>

            <h2>INSERISCI UN NUOVO SPETTACOLO</h2>
            <ng-template #content1 let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Aggiungi spettacolo</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                                                        
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
            </ng-template>

            <button class="btn btn-lg btn-outline-primary" (click)="open1(content1)">Aggiungi spettacolo</button>
        </div>
    

    <!--INSERIRE I SCONTI-->


</html>
