<html>
    <body>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Chi siamo</h1>
                <p class="lead">Il nostro sito web AppCinema.it permette di acquistare il biglietto per online, con il vantaggio di far risparmiare
                    all'utente il tempo passato al botteghino. Una volta acquistato il biglietto, esponi il biglietto (in formato cartaceo o tramite smarthphone)
                    all'addetto in ingresso, e goditi il film che desideri!</p>
            </div>
        </div>  
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#sale">Le nostre sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#eventi">I nostri eventi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contatti">Contattaci</a>
            </li>
        </ul>


        <ul class="list-unstyled">
            <li class="media" id="sale">
                <img src="assets/salagiala.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA GIALLA</h5>
                    La sala gialla ha una capienza di 100 posti, disposti in 10 file. 
                </div>
            </li>
            <li class="media">
                <img src="assets/salablu.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA BLU</h5>
                    La sala blu ha una capienza di 200 posti, disposte in 10 file, è la più grande delle nostre sale. Viene 
                    utilizzata per anteprime di film e serie tv con grandi richieste, come ad esempio film cult o cinepanettoni
                </div>
            </li>
            <li class="media">
                <img src="assets/home2.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA ROSSA</h5>
                     La sala rossa ha una capienza di 150 posti, disposti in 10 file, è la nostra sala di dimensioni medie. Anche essa,
                     vista la sua grandezza, è utilizzata per anteprime ed uscite speciali, ma in più permette la proiezione in formato 3D
                     dei film. Nelle proiezioni 3D, gli occhiali sono gratuitamente forniti da noi.
                </div>
            </li>
            <li class="media" id="eventi">
                <img src="assets/home1.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">COMPLEANNI</h5>
                    Siamo a vostra disposizione per festeggiare i compleanni dei nostri piccoli amici con animatori specializzati. Abbiamo tutto per
                    rendere speciale il compleanno: caramelle, dolci, patatine, pop-corn, gadgets, coriandoli.
                    Contattateci e verremmo incontro a ogni vostra esigenza! 
                </div>
            </li>
            <li class="media" >
                <img src="assets/convegno.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">CONVEGNI</h5>
                    Possibilità di affittare le nostre sale per convegni e riunioni aziendali, con rinfresco e buffet organizzato da catering da noi scelto.
                    Per una migliore organizzazione, si prega di contattarci con largo anticipo, sopratutto per convegni che si dovranno effettuare neri periodi invernali.
                </div>
            </li>
            <li class="media" id="contatti">
                <img src="assets/mappa.PNG" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">CONTATTACI</h5>
                    Ci troviamo ad Avezzano (AQ) 67050 Zona Nucleo Industriale
                </div>
            </li>
        </ul>

    </body>
</html>