<html>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Chi siamo</h1>
                <p class="lead">Il nostro sito web AppCinema.it permette di acquistare il biglietto per online, con il vantaggio di far risparmiare
                all'utente il tempo passato al botteghino. Una volta acquistato il biglietto, esponi il biglietto (in formato cartaceo o tramite smarthphone)
                all'addetto in ingresso, e goditi il film che desideri!</p>
            </div>
        </div>  
        <ul class="list-unstyled">
            <li class="media">
                <img src="assets/salagiala.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA GIALLA</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media my-4">
                <img src="assets/salablu.jpg" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA BLU</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media">
                <img src="assets/home2.png" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">SALA ROSSA</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-primary" (click)="prova()">Primary</button>
    </body>
    
</html>