#contatti{
    height: 200px;
    width: 500px;
}

#sala{
    height: 200px;
    width: 500px;
}

#eventi{
    height: 200px;
    width: 500px;
}

.nav nav-tabs{
    position: absolute;
    margin-left: 500px;
}
