.body{
    background:#5d7dc0;
}

.card{
    background:#fff;
    margin: auto;
    color: #111;
}

#ticket{
    max-height: 70px;
    max-width: 70px;
}

#carte{
    max-height: 70px;
    max-width:  70px;
}

.avatar{
    max-height: 300px;
    max-width:  300px;
}

#buttons{
    margin-left: 30px;
}

.card{
    margin-left: 50px;
}