.body{
    background:#5d7dc0;
}


#ticket{
    max-height: 70px;
    max-width: 70px;
}

#carte{
    max-height: 70px;
    max-width:  70px;
}

.avatar{
    max-height: 300px;
    max-width:  300px;
    border-color: lightblue;
    margin-top: 10px;
}

#buttons{
    margin-left: 30px;
}

.card{
    margin-left: 50px;
    margin-top: 50px;
}