.body{
    background:#5d7dc0;
}

.card{
    background:#fff;
    margin: auto;
    color: #111;
}

#ticket{
    max-height: 70px;
    max-width: 70px;
}

#carte{
    max-height: 70px;
    max-width:  70px;
}

.card-img-top{
    max-height: 300px;
    max-width:  300px;
}