<html>
    <br>
    <br>
    <br>
    <div class="card" >
        <img class="avatar" src="{{prof.imagepath}}" alt="immagine del profilo non trovata">
        <!----img src="{{profilo.imagepath}}" class="card-img-top" alt="..."-->
        <div class="card-body">
            <h5 class="card-title">IL MIO PROFILO</h5>
            <p class="card-text">Nome: {{prof.nome}} </p>
            <p class="card-text">Cognome: {{prof.cognome}} </p>
            <p class="card-text">Indirizzo: {{prof.indirizzo}} </p>
            <p class="card-text">Città: {{prof.citta}}</p>
            <p class="card-text">Data di nascita: {{prof.datadinascita}} </p>
            <p class="card-text">Telefono: {{prof.telefono}} </p>
            <p class="card-text">Lista sconti: {{prof.a_listasconti}}  </p>

            <div *ngIf="prof.configurato == true; else elseBlock"></div>
            <ng-template #elseBlock><ngb-alert [dismissible]="false">
                    <strong>Attenzione!</strong> Il tuo profilo è vuoto, clicca su configura per aggiungere informazioni!
                </ngb-alert></ng-template> 




            <button class="btn btn-lg btn-outline-primary" (click)="modifica(content2)">Configura </button>   <br><br>
            <button class="btn btn-lg btn-outline-primary" (click)="getAcquisti(content)">I miei acquisti</button>  <br><br>
            <button class="btn btn-lg btn-outline-primary" (click)="getCarte(content1)">Le mie carte</button>  <br><br>
            <button class="btn btn-lg btn-outline-primary" (click)="logOut()">Log out</button>  <br><br>
        </div>
    </div>


    <!-->  MODAL BIGLIETTI ACQUISTATI</!--->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Biglietti acquistati</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="list-unstyled" >
                <li class="media" *ngFor="let biglietto of biglietti">
                    <img class="mr-3" id ="ticket" src="assets/biglietti.jpg" alt="Film Image">
                    <div class="media-body">
                        <p> riepilogo: {{biglietto.riepilogo}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Chiudi</button>
        </div>
    </ng-template>


    <!-->  MODAL CARTE DI CREDITO</!--->
    <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">le mie Carte</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="list-unstyled" >
                <li class="media" *ngFor="let credenziale of carte">
                    <img class="mr-3" src="assets/carte.png" id ="carte" alt="Film Image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">CIRCUITO: {{credenziale.circuitocarta}}</h5>
                        <p> SCADENZA: {{credenziale.scadenza}}</p>
                        <p> NUMERO CARTA: {{credenziale.numerocarta}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Chiudi</button>
        </div>
    </ng-template>

    <!-->  MODAL MODIFICA PROFILO</!--->
    <ng-template #content2 let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Configura profilo</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="profinput" [(ngModel)]="newprof.nome" name="nome" placeholder="nome">
                    <input type="text" class="form-control" id="profinput" [(ngModel)]="newprof.cognome" name="cognome" placeholder="cognome">
                    <label for="dateOfBirth">Data di nascita</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp"[(ngModel)]="newprof.datadinascita" ngbDatepicker #dp="ngbDatepicker">
                               <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()"  type="button" formControlName="datadinascita"></button>
                        </div>
                    </div>
                   <input type="text" class="form-control" id="filminput" [(ngModel)]="newprof.indirizzo" name="indirizzo" placeholder="indirizzo">
                   <input type="text" class="form-control" id="filminput" [(ngModel)]="newprof.citta" name="citta" placeholder="citta">
                   <input type="text" class="form-control" id="filminput" [(ngModel)]="newprof.telefono" name="telefono" placeholder="telefono">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="Salva(newprof)">Save</button>
        </div>
    </ng-template>
</html>
