.card-img-top{
    max-height: 100px;
    max-width: 100px;
}

#ticket{
    float: left;
    margin-right: 20px;
    height: 150px;
}

#paga{
    float: right;
    margin-right: 100px;
    margin-top: 15px;
    margin-right: 40px;
}

.card{
    background-color: lightgoldenrodyellow;
}