

#griglia{
display: inline-block;
width: 17.99px;
height: 17.99px;
margin: 10px;
}

#container {
background: #e3e3e3;
max-width: 500px;
padding: 20px;
text-align: center;
margin-left: 500px;
}

#postol{
    background: lightblue;
}

#postoo{
    background: red;
}

.my-table {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

#schermo{
    width: 200px;
    height: 10px;
    position: relative;
    left: 550px;
}

.btn-outline-primary{
    float: right;
    margin-right: 80px;
    margin-top: 5px;
}

#legenda{
    text-align: left;
    top: 500px;
}
   



