<html>
    <div class="card">
        <div class="card-body">
            MAPPA DELLA SALA {{sala.nomesala}}
            <div class="card">
                <div class="card-body">
                    <div id="container">
                        <table class="my-table">
                            <tr class="row" *ngFor="let p of mappa.matrice; index as i">       
                        <table class="my-table">
                            <tr class="row">
                                <td *ngFor="let p of mappa.matrice[i]; index as j">
                                    <div *ngIf="p.occupato == false; else elseBlock">
                                        <img src="assets/poltroncina.png" id = "postol" class="card-img-top" alt="..." (click)="Seleziona(p)"></div>
                            <ng-template #elseBlock>
                                <img src="assets/poltroncina.png" id = "postoo" class="card-img-top" alt="...">
                            </ng-template>
                            </tr>
                        </table>            
                        </tr>
                    </table>
                </div>
                      <img src="assets/rettangolo.png" id ="schermo" class="card-img-top" alt="...">                                         
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" (click)="gotoBiglietto()">Conferma</button>

</html>
